page-playlists {
    .user{
        img{
            max-width: 150px;
            margin: 0 auto;
            display: block;
            box-shadow: 0 3px 2px rgba(black, .3);
            border-radius: 5px;
        }
        h1{
            color:#0d47a1;
            text-align: center;
            margin: 10px 0 20px;
        }
    }
    .img{
        max-height: 70px;
        margin: 0 auto;
        display: block;
        box-shadow: 0 3px 2px rgba(black, .3);
        border-radius: 5px;
    }
}
